@import "./src/colors.css";

.hidden {
  display: none;
}

* {
  color: var(--text);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 10px;
}

header {
  background-color: var(--card);
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

header .title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  position: relative;
}

header a {
  text-decoration: none;
  background-color: var(--primary);
  padding: 6px 20px;
  min-width: 160px;
  border-radius: 6px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  font-size: 1.4rem;
}

.toggle-theme {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 5px;
}

/* h1 {
  margin-bottom: 25px;
} */

h3 p {
  color: var(--text);
}

.filters-box {
  display: grid;
  gap: 10px;
}

.filters {
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.filters select,
.filters input,
.filters button {
  flex: 1 1 150px;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-team {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.member-team {
  overflow: hidden;
  background-color: var(--card);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 120px;
  border-radius: 10px;
}

.member-team img {
  width: 74px;
  height: 74px;
  margin-right: 10px;
  border-radius: 50%;
  border: double 5px var(--primary);
}

.content {
  display: grid;
  gap: 5px;
  width: 70%;
}

.content h3 {
  font-size: 24px;
}
p,
span {
  font-size: 14px;
}

.cards {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-bottom: 25px;
  background-color: transparent;
}

.kpi {
  min-width: 250px;
  position: relative;
  overflow: hidden;
  background-color: var(--card);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.kpi::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    400px circle at var(--x) var(--y),
    var(--primary),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.25s;
}

.kpi:hover::before {
  opacity: 0.7;
}

.kpi h3 {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.kpi p {
  font-size: 26px;
  margin: 8px 0 0 0;
  font-weight: 600;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70%;
  gap: 10px;
}

.chart-card {
  height: 250px;
  width: 100%;
  overflow: auto;
  background-color: var(--card);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
}

.chart-card h3 {
  font-size: 18px;
}

.chart-card canvas {
  max-width: 180px;
  margin: auto;
  transition: 0.3s;
}
.chart-card canvas:hover {
  transform: scale(1.2);
}

table {
  min-width: 600px;
}

.tabela {
  overflow-x: auto;
  margin-top: 20px;
  max-height: 400px;
}

.tabela .tabela-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.show-table {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

table {
  width: 100%;
  background: transparent;
}

th,
td {
  padding: 10px;
  border: 1px solid transparent;
  text-align: left;
}

th {
  background: var(--primary);
  color: var(--border);
  border-radius: 10px 10px 0px 0px;
}

tr:nth-child(even) {
  background: var(--border);
  color: var(--card);
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  .container {
    padding: 10px;
  }

  .filters {
    flex-direction: column;
  }

  .cards-team ul {
    grid-template-columns: 1fr;
  }

  .charts {
    grid-template-columns: 1fr;
  }
}
